.ingredients-box{
  background-color: #F1F0F0;
  padding: 100px 0;
  text-align: center;
  color: #1e4646;
  h2{
    font-size: 3rem;
    margin-bottom: 50px;
  }
}

.cards{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}


@media only screen and (max-width: 1000px) {
  .ingredients-box{
    h2{
      font-size: 2rem;
      margin-bottom: 50px;
    }
  }

  .cards{
    h3{
      font-size: 1.5rem;
    }
    gap: 3rem;
    grid-template-columns: 1fr;
  }
}