.container{
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.link-btn{
  color: #fff;
  text-decoration: none;
  background-color: #F08246;
  border-radius: 30px;
  padding: 12px 24px;
  font-size: 1rem;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;   
}

.card{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  h3{
    font-size: 2rem;
  }
  p{
    margin-bottom: -1rem;
  }

  .link-btn{
    background-color: #1e4646;
  }

}