nav{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  background-color: #ffe6d7;
  img{
    max-width: 90px;
  }

  ul{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2.5rem;
    list-style: none;
  }

  a{
    color: #1e4646;
    text-decoration: none;
  }

  div{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2.5rem;
    a:first-child{
      flex: 1;
    }

  }

}



@media only screen and (max-width: 1010px) {
  nav{
    ul{
      display: none;
    }
  
    a{
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  nav{
    .link-btn{
      display: none;
    }
  }
}