.header__wrapper{
  background-color: #ffe6d7;
}

.hero{
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 80px 0;

  .hero__content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    h1{
      font-size: 4.5rem;
      line-height: 80px;
      font-weight: 500;
      color: #1e4646;
      font-family: sans-serif;
      max-width: 700px;
    }

    p{
      color: #1e4646;
      font-size: 1.7rem;
      line-height: 3rem;
      max-width: 550px;
    }
  }

  .hero-img{  
    width: 600px;
    overflow: hidden;
    border-radius: 30px;
    img{
      border-radius: 30px;
      width: 100%;
      aspect-ratio: 1/1;
    }
  }
}


@media only screen and (max-width: 1010px) {
  .hero{
  
    .hero__content{
      h1{
        font-size: 3rem;
        line-height: 45px;
      }
  
      p{
          font-size: 1.5rem;
        line-height: 2rem;
      }
    }
  
  }
}

@media only screen and (max-width: 800px) {
  .hero{
    flex-direction: column;
    .hero__content{
      h1{
        font-size: 2rem;
        line-height: 45px;
      }
      p{
        font-size: 1.2rem;
        line-height: 1.5rem;
      }
    }
    .hero-img{
      width: 95%;
    }
  
  }
}